@font-face {
    font-family: 'segoe-regular';
    src: url('../assets/fonts/SegoeRegular/SEGOEUI.TTF');
}

@font-face {
    font-family: 'segoe-regular-new';
    src: url('../assets/fonts/SegoeRegular2/segoeui.ttf');
}

@font-face {
    font-family: 'segoe-bold';
    src: url('../assets/fonts/SegoeBold/SEGOEUIB.TTF');
}

@font-face {
    font-family: 'segoe-bold-new';
    src: url('../assets/fonts/SegoeBold2/segoeuib.ttf');
}

@font-face {
    font-family: 'segoe-semibold';
    src: url('../assets/fonts/SegoeSemiBold/seguisb.ttf');
}

@font-face {
    font-family: 'segoe-semilight';
    src: url('../assets/fonts/SegoeSemilight/segoeuisl.ttf');
}

@font-face {
    font-family: 'montserrat-bold';
    src: url('../assets/fonts/Montserrat/Montserrat-ExtraBold.ttf');
}