#video_back {
    position: fixed;
    bottom: 0vw;
    right: 0vw;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    overflow: hidden;
}

.logotipo_a {
    position: relative;
    top: 0.74vw;
    width: 10.66vw;
    margin: auto 1.18vw;
    height: auto;
}
