
@font-face {
    font-family: 'nexa-bold';
    src: url('../fonts/nexa/Nexa_Bold.otf');
}
@font-face {
    font-family: 'nexa-light';
    src: url('../fonts/nexa/Nexa_Light.otf');
}
@font-face {
    font-family: 'muli-black';
    src: url('../fonts/Muli/Muli-Black.ttf');
}
