@media screen and (max-width:400px) {
    /* .prueba {
        color: peru;
    } */
    .portada {
        padding: 19vh 0 19vh 0;
    }
    nav.header-nav ul li>a {
        font-size: 1.65vw;
    }
    /* BARRA DE NAVEGACIÓN ESCONDIDA */
    /* FUENTES PORTADA V3*/
    .a {
        font-size: 7.2vw;
        line-height: 7vw;
    }
    .b {
        font-size: 4vw;
    }
    .c {
        font-size: 3vw;
    }
    .boton {
        margin: 3vh;
    }
    a.button,
    button.button,
    input.button {
        font-size: 2.8vw;
    }
    .bloque-servicios {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%;
    }
    /* SERVICIOS */
    .efecto-caja>figure>div>span.a-1 {
        font-size: 3.8vw;
    }
    .efecto-caja>figure>div>span.b-1 {
        font-size: 2.9vw;
    }
    .efecto-caja:hover>figure>div>span.a-1 {
        font-size: 4vw;
    }
    .efecto-caja:hover>figure>div>span.b-1 {
        font-size: 3.1vw;
    }
    /* SERVICIOS DETALLADOS */
    h1.a-2 {
        font-size: 4vw;
    }
    div.b-2 {
        font-size: 3.5vw;
    }
    /* BLOG */
    .c-2 {
        font-size: 3.5vw;
    }
    .blog-header,
    .blog-cuerpo {
        font-size: 3.5vw;
    }
    .blog {
        padding: 3% 12% 3% 12%;
    }
    .bloque-blog {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%;
    }
    .relative-img {
        width: 100%;
        height: 100%;
    }
    /* CLIENTES */
    .cliente-mobile {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: space-around;
    }
    .bloque-cliente {
        -ms-flex-preferred-size: 35%;
        flex-basis: 45%;
        max-width: 45%;
    }
    .bloque-cliente-mobile-1 {
        flex-basis: 43.33333%;
        max-width: 43.33333%;
    }
    .bloque-cliente-mobile-2 {
        flex-basis: 56.666666667%;
        max-width: 56.666666667%;
    }
    .relative-img-2 {
        width: 100%;
        height: 100%;
    }
    .c-mobile {
        font-size: 3.22vw;
    }
    /* FAQ */
    .faq-mobile-1 {
        font-size: 2.3vw;
        color: rgb(26, 24, 24);
    }
    .g1 {
        margin-bottom: 2vw;
    }
    .c-3 {
        font-size: 3.4vw;
    }
    input[type="text"],
    input[type="email"],
    textarea {
        font-size: 2vw;
    }
    input[type="text"],
    input[type="email"] {
        height: 4.5vw;
    }
    /* FOOTER */
    .e {
        font-size: 2.2vw;
    }
    footer>section>div>div>ul>li>a {
        font-size: 1.6vw;
    }
    div.d {
        font-size: 1.5vw;
    }
}