@media screen and (max-width:480px) and (orientation:portrait) {
    .prueba {
        /* color: purple; */
    }
    .portada {
        padding: 20vh 0 19vh 0;
    }
    nav.header-nav ul li>a {
        font-size: 1.60vw;
    }
    /* BARRA DE NAVEGACIÓN ESCONDIDA */
    /* FUENTES PORTADA V3*/
    .a {
        font-size: 6.89vw;
        line-height: 6.7vw;
    }
    .b {
        font-size: 3.7vw;
    }
    .c {
        font-size: 2.8vw;
    }
    .boton {
        margin: 2.5vh;
    }
    .bloque-servicios {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%;
    }
}