@media screen and (max-width:320px) and (orientation:portrait) {
    .prueba {
        /* color: peru; */
    }
    .portada {
        padding: 19vh 0 19vh 0;
    }
    nav.header-nav ul li>a {
        font-size: 1.65vw;
    }
    /* BARRA DE NAVEGACIÓN ESCONDIDA */
    /* FUENTES PORTADA V3*/
    .a {
        font-size: 6.89vw;
        line-height: 6.1vw;
    }
    .b {
        font-size: 3.85vw;
    }
    .c {
        font-size: 2.85vw;
    }
    .boton {
        margin: 3vh;
    }
    .bloque-servicios {
        -ms-flex-preferred-size: 50%;
        flex-basis: 100%;
        max-width: 100%;
    }
}