.portada {
    flex-grow: 1;
    padding: 16% 0 16% 0;
}

.a {
    /* Style for "CREATIVIDAD" */
    color: #ffffff;
    font-size: 57px;
    font-weight: 900;
    letter-spacing: 12px;
    line-height: 64px;
    text-transform: uppercase;
}

.b {
    /* Style for "NUESTRA PRIORIDAD */
    color: #ffffff;
    font-size: 27px;
    font-weight: 300;
    letter-spacing: 13.5px;
    text-transform: uppercase;
}

.c {
    /* Style for "MARCA / DI" */
    color: #e1e1e1;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 3.5px;
    text-transform: uppercase;
}

.d {
    /* Style for "COPYRIGHT" */
    font-size: 14px;
    text-transform: uppercase;
    padding: 3% 6% 3% 6%;
}

.e {
    /* Style for "UBICACION" */
    color: #ffffff;
    font-size: 20px;
    text-transform: uppercase;
    padding: 10% 0% 10% 0%;
}

ul.f>* {
    /* Style for "info@ticst" */
    color: #d8d9d9;
    font-family: "Segoe UI";
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
}

.g>* {
    /* Style for "info@ticst" */
    color: #4c4e50;
    font-family: "Segoe UI";
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
}

.g1 {
    padding-bottom: 5%;
}

.a-2 {
    /* Style for "IDENTIDAD" */
    margin-bottom: 8%;
    color: #000000;
    font-size: 29.5px;
    font-weight: 200;
    text-transform: uppercase;
}

.b-2 {
    /* Style for "Le damos i" */
    color: #95989a;
    font-size: 17.5px;
    font-weight: 300;
}

.c-2 {
    /* Style for "BLOG" */
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
}

.c-3 {
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.sr {
    padding: 10%;
}

.sr3 {
    padding: 5%;
}

.sr4 {
    padding: 3% 6% 3% 6%;
}

.boton {
    margin-top: 5%;
}

.blog {
    padding-bottom: 6%;
}

.customer {
    padding: 3%;
}

.text-container {
    padding: 3% 0% 3% 4%;
}