/* MICRO-FRAMEWORK DISEÑO ATÓMICO
BY LUIS PATIÑO BUENDÍA */

/*  CONSEJOS:
1) FLOAT LEFT FUNCIONA PERO NO RESPETA LA PROPIEDAD HEIGHT.
2) FLOAT SE DEFINE PARA FLOTAR IMÁGENES Y NO PARA MAQUETAR .
3) overflow: hidden; permite desaparecer el resto de imagen desbordada.
4) BOX-SIZING:border-box; encaja los elementos sin desbordar la caja padre.
5) PC-TV:
    a. Posición: 
        {position, top, left, right, bottom, clear, z-index}
    b. Caja (modelo caja):
        {display, float, margin, padding, width, height}
    c. Tipografía:
        {font-family, font-size, line-height, color, text-align}
    d Visual (Apartado visual):
        {background-color, border, border-radius, outline, opacity}


    SELECTOR: 
    1.(prefijo_letra)-(descripcion_corta)-(sub_tipo)
    2.(descripcion_corta)-(sub_tipo)
    3.(descripcion_corta)
   
6) AL PARECER, LAS IMAGENES RESPONSIVAS SE DAN, SEGÚN EL TAMAÑO DEL PADRE.
O SEA, QUE SE DEBE ASIGNAR UN VALOR PORCENTUAL FIJO,
A LOS CONTENEDORES PADRES, PARA QUE SEAN RESPONSIVAS.
SI LOS CONTENEDORES SON FLEXIBLES, NO APLICARÁN LOS 
EFECTOS A LAS IMAGENES.
    */

.fixed-position {
    position: fixed;
    z-index: 5;
}

.hiddenof {
    overflow: hidden;
}

img.img-full,
audio,
video,
iframe,
canvas,
svg,
picture {
    max-width: 100%;
    width: 100%;
    height: auto;
}

.img-full-custom {
    width: 14.8vw;
    height: 7.4vw;
    padding: 20%;
}

.border>* {
    border: thin solid black;
}

.z-back {
    z-index: -5;
}

.z-middle {
    z-index: 0;
}

.z-front {
    z-index: 5;
}

/* REGLAS VISUALES PARA CONTAINERS */

.container_a {
    padding-top: 18.95vw;
    padding-bottom: 18.95vw;
}

.container_b {
    padding-top: 16.58vw;
    padding-bottom: 16.58vw;
}

.container_c {
    padding-top: 14.21vw;
    padding-bottom: 14.21vw;
}

.container_d {
    padding-top: 11.84vw;
    padding-bottom: 11.84vw;
}

.container_e {
    padding-top: 9.47vw;
    padding-bottom: 9.47vw;
}

.container_f {
    padding-top: 7.11vw;
    padding-bottom: 7.11vw;
}

.container_g {
    padding-top: 4.74vw;
    padding-bottom: 4.74vw;
}

.container_h {
    padding-top: 2.37vw;
    padding-bottom: 2.37vw;
}

.item-container {
    padding: 2.37vw;
    display: block;
}

/* REGLAS PARA LISTAS */

ol.lista-decimal-zero>li {
    list-style-type: decimal-leading-zero;
    list-style-position: inside;
}

ol.lista-minuscula-alpha>li {
    list-style-type: lower-alpha;
    list-style-position: inside;
}

ol.lista-mayuscula-alpha>li {
    list-style-type: upper-alpha;
    list-style-position: inside;
}

ul.lista-square>li {
    list-style-type: square;
    list-style-position: inside;
}

ul.lista-circle>li {
    list-style-type: circle;
    list-style-position: inside;
}

.lista-none>li {
    list-style-type: none;
}

/* REGLAS PARA HEADER */

figure.header-logo {
    padding: 1.5vw 0vw 1.5vw 1.5vw;
}

nav.header-nav {
    font-family: 'segoe-regular-new';
}

nav.header-nav ul {
    margin: 0% 1.5% 0% 1.5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

nav.header-nav ul>li {
    padding: 0vw 1.2vw 0vw 1.2vw;
    -webkit-transition: all .4s;
    transition: all .4s;
}

nav.header-nav ul li>a {
    font-size: 1.05vw;
    font-weight: 500;
    letter-spacing: .22vw;
    color: #f3f3f3;
    display: inline-block;
    cursor: pointer;
    -webkit-transition: .4s;
    transition: .4s;
}

nav.header-nav ul li>a::before {
    font-family: "Font Awesome 5 Free";
    text-rendering: auto;
    position: relative;
    content: '\f0c8';
    color: #EE1C44;
    opacity: 0;
    -webkit-transition: .4s;
    transition: .4s;
    left: -0.37vw;
    top: 0.07vw;
}

nav.header-nav ul li:first-child>a::before {
    opacity: 1;
}

nav.header-nav ul>li:nth-child(5):hover {
    -webkit-transform: translateX(-0.37vw);
    transform: translateX(-0.37vw);
}

nav.header-nav ul>li:hover {
    -webkit-transform: translateX(0.37vw);
    transform: translateX(0.37vw);
}

nav.header-nav li:hover a::before {
    opacity: 1;
    -webkit-transition: color .4s;
    transition: color .4s;
}

nav.header-nav li>a:visited {
    color: #f3f3f3;
}

/* TIPOGRAFÍA */

.f-segoe-r {
    font-family: 'segoe-regular';
}

.f-segoe-rn {
    font-family: 'segoe-regular-new';
}

.f-segoe-b {
    font-family: 'segoe-bold';
}

.f-segoe-bn {
    font-family: 'segoe-bold-new';
}

.f-segoe-sb {
    font-family: 'segoe-semibold';
}

.f-montserrat-b {
    font-family: 'montserrat-bold';
}

.f-montserrat-sb {
    font-family: 'montserrat-semibold';
}

/* ALINEACION DE TEXTO */

.t-all-center>* {
    text-align: center;
}

.t-all-left>* {
    text-align: left;
}

.t-all-right>* {
    text-align: right;
}

.t-center {
    text-align: center;
}

.t-left {
    text-align: left;
}

.t-right {
    text-align: right;
}

/* PORTADA */

.titulo-a {
    font-size: 10.66vw;
    letter-spacing: 1.18vw;
    font-weight: 900;
}

.titulo-b {
    font-size: 8.29vw;
    letter-spacing: .59vw;
    font-weight: 900;
}

.titulo-c {
    font-size: 7.11vw;
    font-weight: 900;
}

/* DEMÁS CONTAINERS */

.eslogan-a {
    font-size: 1.89vw;
    letter-spacing: 1.18vw;
    font-weight: 900;
}

.eslogan-b {
    font-size: 1.78vw;
    letter-spacing: .59vw;
    font-weight: 900;
}

.eslogan-c {
    font-size: 1.54vw;
    letter-spacing: 0.36vw;
    font-weight: 800;
}

.subtitulo-a {
    font-size: 2.37vw;
    line-height: 2.96vw;
    font-weight: 300;
}

.subtitulo-b {
    font-size: 1.78vw;
    line-height: 2.96vw;
    font-weight: 300;
}

.subtitulo-c {
    font-size: 1.54vw;
    line-height: 2.37vw;
    font-weight: 300;
}

.color-ticstark-1 {
    color: #f3f3f3;
}

.color-ticstark-2 {
    color: #b8b8b8;
}

.color-ticstark-3 {
    color: #313746;
}

.color-ticstark-4 {
    color: #12141c;
}

.color-ticstark-5 {
    color: #d90e45;
}

.color-ticstark-6 {
    color: #4c4e50;
}

.color-ticstark-7 {
    color: #95989a;
}

.color-ticstark-8 {
    color: #d8d9d9;
}

.color-ticstark-white {
    color: white;
}

.color-ticstark-black {
    color: black;
}

.all-color-ticstark-1>* {
    --tscolor-1: #f3f3f3;
    color: #f3f3f3;
}

.all-color-ticstark-2>* {
    --tscolor-2: #b8b8b8;
    color: #b8b8b8;
}

.all-color-ticstark-3>* {
    --tscolor-3: #313746;
    color: #313746;
}

.all-color-ticstark-4>* {
    --tscolor-4: #12141c;
    color: #12141c;
}

.all-color-ticstark-5>* {
    --tscolor-5: #d90e45;
    color: #d90e45;
}

.all-color-ticstark-6>* {
    --tscolor-6: #4c4e50;
    color: #4c4e50;
}

.all-color-ticstark-7>* {
    --tscolor-7: #95989a;
    color: #95989a;
}

.all-color-ticstark-white>* {
    color: white;
}

.all-color-ticstark-black>* {
    color: black;
}

/* FONDOS */

.background-color-ts-1 {
    background-color: #f3f3f3;
}

.background-color-ts-2 {
    background-color: #b8b8b8;
}

.background-color-ts-3 {
    background-color: #313746;
}

.background-color-ts-3-1 {
    background-color: #363146;
}

.background-color-ts-3-2 {
    background-color: #463631;
}

.background-color-ts-4 {
    background-color: #12141c;
}

.background-color-ts-5-0 {
    background-color: #EE1C44;
}

.background-color-ts-5 {
    background-color: #d90e45;
}

.background-color-ts-5-1 {
    background-color: #f2225b;
}

.background-color-ts-5-2 {
    background-color: #f83b6f;
}

.background-color-ts-5-3 {
    background-color: #f65a84;
}

.background-white {
    background-color: white;
}

.background-color-ts-6 {
    /* Style for "SECTION 01" */
    background-color: #fcf6f6;
}

.background-color-ts-7 {
    /* Style for "SECTION 01" */
    background-color: #fcfcfc;
}

.background-color-ts-8 {
    /* Style for "SECTION 01" */
    background-color: #f6f6f6;
}

.background-color-ts-9 {
    background-color: #040610;
}

.background-color-ts-10 {
    background-color: #090c17;
}

.background-img-ticstark {
    background-image: url('../img/compreso/TICSTARK-filter.png');
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */

}

.background-img-ticstark-path-5 {
    background-image: url('../img/compreso/path-5.png');
    background-size: cover;
}

.background-img-ticstark-path-6 {
    background-image: url('../img/compreso/path-6.png');
    background-size: cover;
}

.background-img-ticstark-path-7 {
    background-image: url('../img/compreso/path-7.png');
    background-size: cover;
}

/* BOTONERA */

a.button,
button.button,
input.button {
    /* Style for "LEER MAS" */
    font-size: 1.26vw;
    font-weight: 300;
    text-transform: uppercase;
    padding: 0.95vw 3.55vw;
    color: #ffffff;
    background: -webkit-gradient(linear, right top, left top, from(#f61451), to(#ee0c48));
    background: linear-gradient(to left, #f61451, #ee0c48);
    border-radius: 2.96vw;
    border: none;
    -webkit-transition: all .8s;
    transition: all .8s;
    cursor: pointer;
}

a.button:hover,
button.button:hover,
input.button:hover {
    background: -webkit-gradient(linear, right top, left top, from(#a51138), to(#a51138));
    background: linear-gradient(to left, #a51138, #a51138);
    -webkit-transition: background .8s;
    transition: background .8s;
    -webkit-box-shadow: 0, 01vw 0, 01vw 0, 01vw 0, 01vw rgb(160, 17, 43);
    box-shadow: 0, 01vw 0, 01vw 0, 01vw 0, 01vw rgb(160, 17, 43);
    -webkit-transition: -webkit-box-shadow .8s;
    transition: -webkit-box-shadow .8s;
    -webkit-transition: -webkit-box-shadow .4s;
    transition: -webkit-box-shadow .4s;
    transition: box-shadow .4s;
    transition: box-shadow .4s, -webkit-box-shadow .4s;
}

/* CAJAS DE ENTRADA */

input[type="text"],
input[type="email"],
textarea {
    padding: 2%;
    border-radius: 0.3vw;
    border: 0.11vw solid #95989a;
    background-color: #ffffff;
    color: #7f8386;
    font-family: 'segoe-regular-new';
    font-size: 1.18vw;
    font-weight: 500;
    overflow: auto;
}

input[type="text"],
input[type="email"] {
    height: 2.96vw;
}

/* EFECTO CAJA (PROPIEDADES INICIALES) */

.efecto-caja {
    -webkit-transition: all .4s;
    transition: all .4s;
    padding-top: 10%;
    padding-bottom: 10%;
}

.efecto-caja>figure>div>span.a-1 {
    color: #ffffff;
    font-size: 2.07vw;
    font-weight: 400;
    letter-spacing: 0.37vw;
    text-transform: uppercase;
    -webkit-transition: .4s;
    transition: .4s;
}

.efecto-caja>figure>div>span.b-1 {
    /* Style for "SERVICIOS-2" */
    color: #ffffff;
    font-size: 1.15vw;
    font-weight: 400;
    letter-spacing: 0.3vw;
    text-transform: uppercase;
    -webkit-transition: all .4s;
    transition: all .4s;
}

/* EFECTO GENERAL */

.efecto-caja:hover>figure>div>span.a-1 {
    font-size: 2.15vw;
    -webkit-transition: font-size .4s;
    transition: font-size .4s;
}

.efecto-caja:hover>figure>div>span.b-1 {
    font-size: 1.22vw;
    -webkit-transition: font-size .4s;
    transition: font-size .4s;
}

.efecto-caja:hover {
    cursor: pointer;
    background-color: #900b2f;
    -webkit-transition: background-color .4s;
    transition: background-color .4s;
}

/* BLOG EFECTOS Y PROPIEDADES */

/* CONTENEDOR */

.relative-container {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}

.relative-container:hover>.relative-img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-filter: brightness(.3);
    filter: brightness(.25);
}

.relative-container:hover>.relative-categoria>*,
.relative-container:hover>.relative-categoria-2>* {
    color: #ffffff;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.relative-container:hover>.relative-categoria,
.relative-container:hover>.relative-categoria-2 {
    background-color: #d90e45;
    -webkit-transition: all .4s;
    transition: all .4s;
}

/* IMAGEN */

.relative-img {
    z-index: 0;
    width: 28vw;
    height: 28vw;
    -webkit-filter: opacity(.9);
    filter: opacity(.9);
    -webkit-filter: brightness(.6);
    filter: brightness(.6);
    -webkit-transition: all .4s;
    transition: all .4s;
}

/* CUADROS CONTENEDOR */

.relative-categoria,
.relative-categoria-2 {
    z-index: 1;
    position: absolute;
    background-color: #bb0e3cd7;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.relative-categoria {
    padding: 2%;
    margin: 5%;
}

.relative-categoria-2 {
    bottom: 0vw;
    padding: 4%;
}

/* CUADROS TEXTO*/

.blog-header,
.blog-cuerpo {
    color: #e7e7e7;
    font-family: 'segoe-bold';
    text-transform: uppercase;
    font-size: 1.04vw;
}

.blog-header {
    text-shadow: 0 .22vw 0.44vw rgba(0, 0, 0, 0.16);
}