/* MICRO-FRAMEWORK DISEÑO ATÓMICO
BY LUIS PATIÑO BUENDÍA */

/*  CONSEJOS:
1) FLOAT LEFT FUNCIONA PERO NO RESPETA LA PROPIEDAD HEIGHT.
2) FLOAT SE DEFINE PARA FLOTAR IMÁGENES Y NO PARA MAQUETAR .
3) overflow: hidden; permite desaparecer el resto de imagen desbordada.
4) BOX-SIZING:border-box; encaja los elementos sin desbordar la caja padre.
5) PC-TV:
    a. Posición: 
        {position, top, left, right, bottom, clear, z-index}
    b. Caja (modelo caja):
        {display, float, margin, padding, width, height}
    c. Tipografía:
        {font-family, font-size, line-height, color, text-align}
    d Visual (Apartado visual):
        {background-color, border, border-radius, outline, opacity}


    SELECTOR: 
    1.(prefijo_letra)-(descripcion_corta)-(sub_tipo)
    2.(descripcion_corta)-(sub_tipo)
    3.(descripcion_corta)
   
6) AL PARECER, LAS IMAGENES RESPONSIVAS SE DAN, SEGÚN EL TAMAÑO DEL PADRE.
O SEA, QUE SE DEBE ASIGNAR UN VALOR PORCENTUAL FIJO,
A LOS CONTENEDORES PADRES, PARA QUE SEAN RESPONSIVAS.
SI LOS CONTENEDORES SON FLEXIBLES, NO APLICARÁN LOS 
EFECTOS A LAS IMAGENES.
    */

.fixed-position {
    position: fixed;
}

.img-width-full {
    width: 100%;
    height: 100%;
}

.margin-5 {
    margin: 5%;
}

.border>* {
    border: thin solid black;
}

.z-back {
    z-index: -5;
}

.z-middle {
    z-index: 0;
}

.z-front {
    z-index: 5;
}

/* REGLAS VISUALES PARA CONTAINERS */

.container_a {
    padding-top: 16rem;
    padding-bottom: 16rem;
}

.container_b {
    padding-top: 14rem;
    padding-bottom: 14rem;
}

.container_c {
    padding-top: 12rem;
    padding-bottom: 12rem;
}

.container_d {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.container_e {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.container_f {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.container_g {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.container_h {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.item-container {
    padding: 2rem;
    display: block;
}

.text-container {
    padding: 2rem;
}

/* REGLAS PARA LISTAS */

ol.lista-decimal-zero>li {
    list-style-type: decimal-leading-zero;
    list-style-position: inside;
}

ol.lista-minuscula-alpha>li {
    list-style-type: lower-alpha;
    list-style-position: inside;
}

ol.lista-mayuscula-alpha>li {
    list-style-type: upper-alpha;
    list-style-position: inside;
}

ul.lista-square>li {
    list-style-type: square;
    list-style-position: inside;
}

ul.lista-circle>li {
    list-style-type: circle;
    list-style-position: inside;
}

.lista-none>li {
    list-style-type: none;
}

/* REGLAS PARA HEADER */

header.header-fix {
    position: fixed;
    z-index: 5;
}

header.header-color-back {
    background-color: #d90e45;
}

header.header-img-back {
    background-image: url('assets/img/compreso/TICSTARK2.1.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
}

/* LOGO HEADER */

figure.header-logo {
    padding-top: 1rem;
    padding-left: 40px;
}

figure.header-logo>a {
    text-decoration: none;
}

figure.header-logo>a>span {
    text-transform: uppercase;
    font-size: 35px;
}

span.header-logo-a {
    width: 35.5px;
    height: 33px;
    color: #ffffff;
    /* font-weight: 400; */
}

span.header-logo-b {
    width: 172px;
    height: 66px;
    color: #ffffff;
    font-weight: 700;
}

/* NAVIGATION HEADER */

nav.header-nav {
    font-family: 'segoe-regular';
    width: 100%;
    height: 100%;
}

nav.header-nav ul {
    width: auto;
    margin-left: 1.5%;
    margin-right: 1.5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

nav.header-nav ul>li {
    margin: 1rem .3rem;
    padding: 1rem .7rem;
    -webkit-transition: all .5s;
    transition: all .5s;
}

nav.header-nav ul li>a {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 3px;
    color: #f3f3f3;
    display: inline-block;
    cursor: pointer;
    -webkit-transition: .5s;
    transition: .5s;
}

nav.header-nav ul li>a::before {
    font-family: "Font Awesome 5 Free";
    text-rendering: auto;
    position: relative;
    content: '\f0c8';
    color: #EE1C44;
    opacity: 0;
    -webkit-transition: .3s;
    transition: .3s;
    left: -5px;
}

nav.header-nav ul li:first-child>a::before {
    opacity: 1;
}

nav.header-nav ul>li:hover {
    padding-right: 30px;
}

nav.header-nav ul>li:nth-child(5):hover {
    padding-left: 30px;
}

nav.header-nav li:hover a::before {
    opacity: 1;
    -webkit-transition: color .3s;
    transition: color .3s;
}

nav.header-nav li>a:visited {
    color: #f3f3f3;
}

/* TIPOGRAFÍA */

.f-nexa-l {
    font-family: 'nexa-light';
}

.f-nexa-b {
    font-family: 'nexa-bold';
}

.f-chivo-l {
    font-family: 'chivo-light';
}

.f-segoe-r {
    font-family: 'segoe-regular';
}

.f-segoe-rn {
    font-family: 'segoe-regular-new';
}

.f-segoe-b {
    font-family: 'segoe-bold';
}

.f-segoe-sb {
    font-family: 'segoe-semibold';
}

.f-segoe-sl {
    font-family: 'segoe-semilight';
}

/* ALINEACION DE TEXTO */

.t-all-center>* {
    text-align: center;
}

.t-all-left>* {
    text-align: left;
}

.t-all-right>* {
    text-align: right;
}

.t-center {
    text-align: center;
}

.t-left {
    text-align: left;
}

.t-right {
    text-align: right;
}

/* PORTADA */

.titulo-a {
    font-size: 9rem;
    letter-spacing: 1rem;
    font-weight: 900;
}

.titulo-b {
    font-size: 7rem;
    letter-spacing: .5rem;
    font-weight: 900;
}

.titulo-c {
    font-size: 6rem;
    letter-spacing: 0rem;
    font-weight: 900;
}

/* DEMÁS CONTAINERS */

.eslogan-a {
    font-size: 1.6rem;
    letter-spacing: 1rem;
    font-weight: 900;
}

.eslogan-b {
    font-size: 1.5rem;
    letter-spacing: .5rem;
    font-weight: 900;
}

.eslogan-c {
    font-size: 1.3rem;
    letter-spacing: .3rem;
    font-weight: 800;
}

.subtitulo-a {
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 300;
}

.subtitulo-b {
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: 300;
}

.subtitulo-c {
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 300;
}

.color-ticstark-1 {
    color: #f3f3f3;
}

.color-ticstark-2 {
    color: #b8b8b8;
}

.color-ticstark-3 {
    color: #313746;
}

.color-ticstark-4 {
    color: #12141c;
}

.color-ticstark-5 {
    color: #d90e45;
}

.all-color-ticstark-1>* {
    color: #f3f3f3;
}

.all-color-ticstark-2>* {
    color: #b8b8b8;
}

.all-color-ticstark-3>* {
    color: #313746;
}

.all-color-ticstark-4>* {
    color: #12141c;
}

.all-color-ticstark-5>* {
    color: #d90e45;
}

.all-color-ticstark-white>* {
    color: white;
}

/* FONDOS */

.background-color-ts-1 {
    background-color: #f3f3f3;
}

.background-color-ts-2 {
    background-color: #b8b8b8;
}

.background-color-ts-3 {
    background-color: #313746;
}

.background-color-ts-3-1 {
    background-color: #363146;
}

.background-color-ts-3-2 {
    background-color: #463631;
}

.background-color-ts-4 {
    background-color: #12141c;
}

.background-color-ts-5-0 {
    background-color: #EE1C44;
}

.background-color-ts-5 {
    background-color: #d90e45;
}

.background-color-ts-5-1 {
    background-color: #f2225b;
}

.background-color-ts-5-2 {
    background-color: #f83b6f;
}

.background-color-ts-5-3 {
    background-color: #f65a84;
}

.background-white {
    background-color: white;
}

.background-color-ts-6 {
    /* Style for "SECTION 01" */
    background-color: #fcf6f6;
}

.background-color-ts-7 {
    /* Style for "SECTION 01" */
    background-color: #fcfcfc;
}

.background-color-ts-8 {
    /* Style for "SECTION 01" */
    background-color: #f6f6f6;
}

.background-img-ticstark {
    background-image: url('../img/compreso/TICSTARK-filter.png');
    background-size: 100%;
}

.background-path-1 {
    background-image: url('../img/compreso/path-5.png');
    background-size: 100%;
}

.background-path-2 {
    background-image: url('../img/compreso/path-6.png');
    background-size: 100%;
}

.background-path-3 {
    background-image: url('../img/compreso/path-7.png');
    background-size: 100%;
}

/* BOTONERA */

a.button,
button.button {
    /* Style for "LEER MAS" */
    font-size: 17px;
    font-weight: 300;
    text-transform: uppercase;
    padding: .8rem 3rem;
    color: #ffffff;
    background-color: #d90e45;
    border-radius: 40px;
}

a.button:hover,
button.button:hover {
    background-color: rgb(156, 11, 38);
    -webkit-box-shadow: 0.1rem 0.1rem 0.1rem rgb(109, 14, 31);
    box-shadow: 0.1rem 0.1rem 0.1rem rgb(109, 14, 31);
    -webkit-transition: background-color .5s;
    transition: background-color .5s;
}

/* EFECTO CAJA (PROPIEDADES INICIALES) */

.efecto-caja-1,
.efecto-caja-2,
.efecto-caja-3,
.efecto-caja-4 {
    transition: all .5s;
    padding-top: 10%;
    padding-bottom: 10%;
}

.efecto-caja-1>figure>div>span.a-1,
.efecto-caja-2>figure>div>span.a-1,
.efecto-caja-3>figure>div>span.a-1,
.efecto-caja-4>figure>div>span.a-1 {
    color: #ffffff;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 5px;
    text-transform: uppercase;
    transition: .4s;
}

.efecto-caja-1>figure>div>span.b-1,
.efecto-caja-2>figure>div>span.b-1,
.efecto-caja-3>figure>div>span.b-1,
.efecto-caja-4>figure>div>span.b-1 {
    /* Style for "SERVICIOS-2" */
    color: #ffffff;
    font-size: 15.5px;
    font-weight: 400;
    letter-spacing: 4px;
    text-transform: uppercase;
    transition: all .4s;
}

/* EFECTO GENERAL */

/* PSDT: NO AHORRO LÍNEAS
PARA EL EFECTO CONTENT */

.efecto-caja-1:hover>figure>div>span.a-1,
.efecto-caja-2:hover>figure>div>span.a-1,
.efecto-caja-3:hover>figure>div>span.a-1,
.efecto-caja-4:hover>figure>div>span.a-1 {
    transition: font-size .4s;
    font-size: 33px;
}

.efecto-caja-1:hover>figure>div>span.b-1,
.efecto-caja-2:hover>figure>div>span.b-1,
.efecto-caja-3:hover>figure>div>span.b-1,
.efecto-caja-4:hover>figure>div>span.b-1 {
    transition: font-size .4s;
    font-size: 20.5px;
}

.efecto-caja-1:hover,
.efecto-caja-2:hover,
.efecto-caja-3:hover,
.efecto-caja-4:hover {
    background-color: #900b2f;
    transition: background-color .4s;
}

@media all and (min-width: 1000px) {
    .servicios {
        flex-flow: row wrap;
    }
}