.container,
.container-fluido {
    display: block;
    width: 100%;
    /* margin: 1rem auto; */
    /* background-color: #CCC; */
}

.container {
    /* max-width: 1200px; */
    width: 100%;
}

.container_sketch {
    display: block;
    width: auto;
    margin: 1rem auto;
    max-width: 1200px;
}

/* 
Retícula de 12 columnas y el 100% de la pantalla.
Ecuación: 
    - N-columnas * (100%/12-col) = % de N columnas

A la hora de maquetar, la ecuación para elegir Col-n es:
    - 12 Columnas / x Número de item-container = Col-N

Todos los N-item-container deben tener la clase de Col-N resultante.
La suma de N-item-container debe ser igual a 12, para mantener las proporciones.
*/

/* AL USAR EL SISTEMA DE GRILLAS, SE PROPORCIONA EL ESPACIO, LA CUAL
CANCELA EL USO DE ALINEACIONES FLEXBOX */

.col-12 {
    width: 100%;
}

.col-11 {
    width: 91.666666667%;
}

.col-10 {
    width: 83.333333333%;
}

.col-9 {
    width: 75%;
}

.col-8 {
    width: 66.666666667;
}

.col-7 {
    width: 58.333333333%;
}

.col-6 {
    width: 50%;
}

.col-5 {
    width: 41.666666667;
}

.col-4 {
    width: 33.333333333%;
}

.col-3 {
    width: 25%;
}

.col-2 {
    width: 16.666666667%;
}

.col-1 {
    width: 8.333333333%;
}

/* Grillas con flex */

.container-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 1 1 auto;
    width: 100%;
    max-width: 100%;
    /* flex grow, flex shrink, flex basis */
}

.col-item-flex-1,
.col-item-flex-2,
.col-item-flex-3,
.col-item-flex-4,
.col-item-flex-5,
.col-item-flex-6,
.col-item-flex-7,
.col-item-flex-8,
.col-item-flex-9,
.col-item-flex-10,
.col-item-flex-11,
.col-item-flex-12 {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0, ;
    -ms-flex: 0, 0, auto;
    flex: 1 1 auto;
    /* align-self: auto; */
}

.col-item-flex-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
}

.col-item-flex-11 {
    -ms-flex-preferred-size: 91.666666667%;
    flex-basis: 91.666666667%;
    max-width: 91.666666667%;
}

.col-item-flex-10 {
    -ms-flex-preferred-size: 83.333333333%;
    flex-basis: 83.333333333%;
    max-width: 83.333333333%;
}

.col-item-flex-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
}

.col-item-flex-8 {
    -ms-flex-preferred-size: 66.666666667;
    flex-basis: 66.666666667;
    max-width: 66.666666667;
}

.col-item-flex-7 {
    -ms-flex-preferred-size: 58.333333333%;
    flex-basis: 58.333333333%;
    max-width: 58.333333333%;
}

.col-item-flex-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
}

.col-item-flex-5 {
    -ms-flex-preferred-size: 41.666666667%;
    flex-basis: 41.666666667%;
    max-width: 41.666666667%;
}

.col-item-flex-4 {
    -ms-flex-preferred-size: 33.333333333%;
    flex-basis: 33.333333333%;
    max-width: 33.333333333%;
}

.col-item-flex-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
}

.col-item-flex-2 {
    -ms-flex-preferred-size: 16.666666667%;
    flex-basis: 16.666666667%;
    max-width: 16.666666667%;
}

.col-item-flex-1 {
    -ms-flex-preferred-size: 8.333333333%;
    flex-basis: 8.333333333%;
    max-width: 8.333333333%;
}

.col-item-auto {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    max-width: 100%;
}