.portada {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 36vh 0 32vh 0;
}

.a {
    /* Style for "CREATIVIDAD" */
    color: #ffffff;
    font-size: 4.29vw;
    letter-spacing: .875vw;
    line-height: 4.74vw;
    text-transform: uppercase;
}

.a-1-blog{
    font-weight: 800;
}
.a-blog,.a-1-blog{

    /* Style for "TICSTARK" */
    color: #ffffff;
    font-size: 7.29vw;
    letter-spacing: .275vw;
    line-height: 8.74vw;
    text-transform: uppercase;
}
.b {
    /* Style for "NUESTRA PRIORIDAD */
    color: #ffffff;
    font-size: 2vw;
    font-weight: 300;
    letter-spacing: 1vw;
    text-transform: uppercase;
}
.b-blog{
    /* Style for "BLOG*/
    color: #ffffff;
    font-size: 2.5vw;
    font-weight: 200;
    letter-spacing: 1vw;
    text-transform: uppercase;
}

.c {
    /* Style for "MARCA / DI" */
    color: #e1e1e1;
    font-size: 1.63vw;
    font-weight: 400;
    letter-spacing: 0.26vw;
    text-transform: uppercase;
}

.d {
    /* Style for "COPYRIGHT" */
    font-size: 1.04vw;
    text-transform: uppercase;
    padding: 3% 6% 3% 6%;
}

.e {
    /* Style for "UBICACION" */
    color: #ffffff;
    font-size: 1.48vw;
    text-transform: uppercase;
    padding: 10% 0% 10% 0%;
}

ul.f>* {
    /* Style for "info@ticst" */
    color: #d8d9d9;
    font-family: "segoe-regular-new";
    font-size: 1.11vw;
    font-weight: 400;
    line-height: 2.22vw;
}

.g>* {
    /* Style for "info@ticst" */
    color: #4c4e50;
    font-family: "Segoe UI";
    font-size: 1.18vw;
    font-weight: 400;
    line-height: 2.96vw;
}

.g1 {
    padding-bottom: 5%;
}

.h {
    margin-top: 10%;
    font-size: 1.5vw;
    font-weight: 400;
    text-transform: uppercase;
}

.a-2 {
    /* Style for "IDENTIDAD" */
    margin-bottom: 8%;
    color: #47454e;
    font-size: 2.18vw;
    font-weight: 100;
    text-transform: uppercase;
}

.b-2 {
    /* Style for "Le damos i" */
    color: #6e7174;
    font-size: 1.5vw;
    font-weight: 300;
}

strong.b-2 {
    color: #232425;
}

.c-2,
.c-3 {
    /* Style for "BLOG" */
    font-size: 2.22vw;
    font-weight: 500;
    text-transform: uppercase;
}

.c-3 {
    font-weight: 400;
}

.sr {
    padding: 10%;
}

.sr3 {
    padding: 5%;
}

.sr4 {
    padding: 3% 6% 3% 6%;
}

.sr5 {
    padding: 4% 0% 4% 0%;
}

.boton {
    margin: 8vh;
}

.blog {
    padding: 0% 3% 6% 3%
}

.customer {
    padding: 3% 6% 3% 6%;
}

.text-container {
    padding: 3% 0% 3% 4%;
}

ul.all-color-6>li>* {
    color: var(--tscolor-6);
}

ul.all-color-n>li>* {
    color: white;
}

.margin-5 {
    margin: 5%;
}

.margin-4 {
    margin: 0% 1.5% 0% 1.5%;
}

.margin-3>* {
    margin: 3% 0% 0% 0%;
}

.icons {
    margin: 1vw 0vw 1vw 0vw;
}

.subicons {
    margin-right: 1vw;
}

.img-relative-2 {
    width: 10vw;
    height: 10vw;
}

.img-relative-3 {
    width: 35vw;
    height: 45vw;
}

/* DESKTOP FIRST
Max width ---> +1366px;
Puntos Quiebre para Desktop first:
1200px  1024px  768px   600px   480px   320px
85.4em  64em    48em    37.5em  30em    20em
*/

/* DESKTOP (ORIENTATION LANDSCAPE ALWAYS) */

/* @media screen and (max-width:1200px) {
    .prueba {
        color: black;
    }
} */